<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Img:</td>
            <td>
                <label for="file-input">
                    <img id="image" src="" style="height: 100px; width: 100px">
                </label>
                <input id="file-input" type="file" hidden name="file" accept="image/gif , image/jpeg, image/png"
                       onchange="luufile()">
                <input id="anh" name="file" type="file" hidden>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>
<script>
    function luufile() {
        let filename = document.getElementById("file-input");
        let link = document.getElementById("anh")

        if (filename.files[0] != undefined) {
            link.files = filename.files
        }
        if (link.files && link.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("image").src = e.target.result;
            }
            reader.readAsDataURL(filename.files[0]);
        }
    }
</script>