<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="/product/save"
          method="post" novalidate="novalidate">
        <input type="text" name="idP"/>
        <div>
            <label>Name</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label>Price</label>
            <input type="email" name="price"/>
        </div>
        <div>
            <label>Img</label>
            <input type="text" name="img"/>
        </div>
        <div>
            <label>Category</label>
            <select name="cat">
                <option th:each="cat:${category}" th:text="${cat.getNameCate()}" th:value="${cat.getId()}" ></option>
            </select>
        </div>
        <div>
            <label>Status</label>
            <select name="status">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>

        </div>
       <button type="submit">Summit</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>